<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>

<nav>
    <div class="nav-left">
        Siyi Gong
    </div>
    <ul class="navbar">
        <li><a href="index.html">About</a></li>
        <li><a href="academicActivity.html">Academic Activities</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="miscellaneous.html">Miscellaneous</a></li>
    </ul>
</nav>